body,dl,dt,dd,ul,li,form,input,p,th,td{font-size:14px;}
hr { border: 0; border-top: 1px dotted #ccc; height: 0; line-height: 0; }
h2 { text-indent: 30px; margin: 0; font-size: 20px; font-family: "simhei"; color: #999;  }
h4 { font-weight: bold; }
.clearfix { clear: both; }
.fs12,.tip,.tip td{ font-size: 12px; }
.top-h2{ font-size:14px; color:#3d3d3d; text-indent:0; margin: 5px 0 20px;font-family:"simsun";font-weight:bold;}		
.container { width:797px;}
.tip-x-validate-valid, .tip-x-validate-error { background: url(//rd2.zhaopin.com/portal/myrd/image/icon_erd.png) no-repeat; }
.tip-x-validate-valid { background-position: 0 10px; width: 29px; height: 29px; }
.tip-x-validate-error { background-position: 0 -100px; width: 29px; height: 29px; color: #fd031b; }
.content-body { width:797px; margin-bottom:0px; }
.tab-ul{ border-bottom:1px solid #000;height:36px;}
.tab-ul li{ height:35px; float:left; width:255px;font:500 17px/35px "Microsoft YaHei";color:#2B71D8;border:1px solid #000; border-bottom:none;text-align:center; cursor:pointer; margin-left:12px;}
.tab-ul li.current{ height:34px; line-height:34px; border:1px solid #070001; border-top:3px solid #B80117; background:#F1F6FA; border-bottom:none; color:#000;  position:relative;z-index:2; margin-bottom:-1px;}
 .submitBtn { background-position:-340px -159px; width:150px; height:41px ; }
.register_btn{width:132px; height:45px; background:url(//img00.zhaopin.cn/2014/common/img/register_btn.png) no-repeat;}
.login-box { height: 41px; }
.tel-box { height: 93px; margin:6px 0;overflow:hidden;}
.requrie { color: red; margin-right:3px; }
.inputText { height: 33px; line-height: 33px; width: 290px; border: 1px solid #ccc; padding-left: 10px; background:#fff; }
.inputText:focus { border-color: #a8c8f0; -webkit-box-shadow: 0 0 6px #A7C8F1; box-shadow: 0 0 6px #A7C8F1; }
.inputText.input-x-validate-error {  border-color: #fd031b; }
.blue {height: 33px; width: 302px; line-height: 33px; display: inline-block; }
.tip { display: inline-block; width: 250px; height: 30px; }
/*.tip table { margin-left: 20px; }*/
.tip tr { height: 35px; line-height: 17px; }
#prov_select, #city_select { width: 125px; }
#policy { vertical-align: -2px; }
.popup { width: 304px; position: absolute; top: 0; left: 0; }
.popup dt { height: 34px; background: url('//rd2.zhaopin.com/portal/myrd/image/popuptitle.png'); color: #3059a9; font-weight: bold; line-height: 33px; padding-left: 10px; position: relative; }
.popup .close { position: absolute; background: url('//rd2.zhaopin.com/portal/myrd/image/close.png'); width: 48px; height: 23px; left: 70px; top: 5px; }
.popup dd { border: 1px solid #98b3de; border-top: none; background: #fff; padding: 10px; line-height: 2em; float: left; width: 282px; }
.popup .sel { margin-right: 10px; cursor: pointer; word-wrap: break-word; word-break: break-all; }
#opts_com_name { border: 1px solid #98b3de; background: #fff; line-height: 2em; }
#opts_com_name li { padding: 0 5px; cursor: pointer; }
#opts_com_name li.current { background: #3366cc; }
#prov_select, #city_select { padding: 0; }
.disable{ display:inline-block; width:153px; background: url(//rd2.zhaopin.com/portal/myrd/image/sprites.png) no-repeat -174px -159px;cursor: default;}
.pagecontent{width:950px; margin:0 auto;position:relative;}
.logo-top {position:relative;height:85px;}
.members {position:absolute;top:-38px;right:0;font-size:14px;}
.members a{ color:#810081;}
.logohref { display:inline-block;background:url(//rd2.zhaopin.com/portal/myrd/image/erd_logo.png) no-repeat;width:151px;height:51px; margin-top:4px; }
.adcontent {font-weight:bold;background:url(//rd2.zhaopin.com/portal/myrd/image/top_bg.png) no-repeat;height:92px;padding:131px 0 10px 26px;line-height:46px;font-size:22px;color:#503b64;}
.adcontent strong {font-size:28px;}
.adcontent p {font-family:"Microsoft YaHei";}
.nav {font-family:"Microsoft YaHei";height:82px; padding-top:8px; border:1px solid #D3CECE; box-shadow:1px 1px 1px #E4E4E4;}
.nav .navone,.nav .navtwo,.nav .navthree {float:left;color:#555;font-weight:bold;}
.navone{ width:325px;}
.navtwo{ width:248px;margin: 0 57px 0 27px;}
.navthree{ width:210px;}
.nav li h5 {font-size:27px;font-weight:bold; float:left;width:66px;padding-left:30px; margin-right:12px; }
.navone h5{color:#5EC8C3;}
.navtwo h5{color:#EBA32C;}
.navthree h5{color:#A2C85E;}
.navone ul{border-left:2px solid #5EC8C3;margin-left: 95px;}
.navtwo ul{border-left:2px solid #EBA32C;margin-left: 95px;}
.navthree ul{border-left:2px solid #A2C85E;margin-left: 95px;}

.navthree strong{font-size:18px;}
.navone ul li,.navtwo ul li,.navthree li{line-height:24px;}
.nav_bottom_left,.nav_bottom_right {width:344px;height:19px;position:absolute;bottom:-20px;}
.nav_bottom_left {left:0;background:url(image/nav_bottom_left.png) no-repeat;}
.nav_bottom_right {right:0;background:url(image/nav_bottom_right.png) no-repeat;}
.formborder {margin:0 auto;border:1px solid #d6d2d2;width:948px;}
.formborder h3 {font-size:14px;color:#000;background:#f4f4f4;line-height:28px;padding-left:58px;}
.key {padding-right:15px;}
/*#tip_compName{padding-left:20px;}*/
				
/*20140722 企业注册页*/		
.logo-top{background:url(//img01.zhaopin.cn/2014/common/img/r_top_bg.png) repeat-x; width:100%; height:71px;}
.logo-inner{ width:797px; margin:0 auto;}		
		
		
/*登陆页*/	
#form1{ width:390px; margin:0 auto; padding:65px 0;}		
#form1 ul{margin:25px 0 5px 0;}
#form1 ul li{ margin-top:12px;}
#form1 ul li a{color:#0500e9; text-decoration:none;}
#form1 .inpsty1{ height: 33px; line-height: 33px; width: 290px; border: 1px solid #ccc; padding-left: 10px; background:#fff; *vertical-align:middle;}
#form1 .butsty1{background:url(//img00.zhaopin.cn/2014/common/img/login_btn.png) no-repeat;width:132px;height:45px;cursor:pointer;border:none;vertical-align:middle;}		
#form1 ul .login_li{ margin-top:62px; margin-left:-7px; *margin-top:35px;}
#form1 ul li a.vague{ display:inline-block; vertical-align:middle; margin: -20px 0 0 12px;}
#form1 ul li a.vague:hover{ text-decoration:underline;}		
		
/*footer*/		
.link{border-top: 3px solid #3F7BD3; color: #666666; margin: 10px auto 0; padding-top: 10px; width: 950px;}
.links{margin: 5px auto 0; padding-top: 5px; width: 950px;}
.link a{color: #315AAA; text-decoration: none;}
.link a:hover{text-decoration: underline;}
.link_1{font-family: tahoma,simsun; font-size:12px; line-height: 1.8em; text-align: center;}
.link_1 .link_2{color: #777;}
.license{margin: 20px auto 10px; overflow: hidden; width: 248px;}
.link_4_1{border: 1px solid #D2D2D2; float: left; height: 48px; width: 118px;}
.link_4_2{border: 1px solid #D2D2D2; float: right; height: 48px; width: 118px;}
.link_5{background: url(//img00.zhaopin.cn/new2011/images/link.jpg) no-repeat; float: left; height: 48px; width: 42px;}
.link_5_1{background: url(//img00.zhaopin.cn/new2011/images/link.jpg) no-repeat -42px 0; float: left; height: 48px; width: 42px;}
.link_6{float: left; height: 41px; padding-left: 5px; padding-top: 7px; text-align: left; width: 69px;}
.link_6 a{color: #7F7F7F; padding-top: 8px;}	
		
/*20150228反馈通二维码*/
html{_text-overflow:ellipsis;}
.ZPqrcode{width: 140px;text-align:center;padding-top:46px;height:170px;background: url(//img01.zhaopin.cn/2014/rd2/img/qrcode3.jpg) no-repeat; position: fixed;top: 164px;left: 50%;margin-left: -550px;_margin-left: -630px;z-index: 10;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+168));}
.close_code{position: absolute; width: 19px;height: 19px;cursor: pointer;right: 0;top: 0;background: url(about:blank); _top: 0;z-index: 1;}
.ZPqrcode1 a{ position:absolute; top:0; left:0;display: inline-block;width: 140px;height: 216px;}

.ZPqrcode4{background: url(//img01.zhaopin.cn/2014/rd2/img/qrcode4.jpg) no-repeat; height:188px; padding-top:0; top:400px;}	
/*20151214填写企业名称增加tips*/
.pop_example{
   position:absolute;
   right: 66px;
   top: 84px;
   background:url('//img00.zhaopin.cn/2014/common/img/example.png') no-repeat;
   width:192px;
   height:199px;
   border-radius:5px;
   display:none;
}
/*20160518注册页增加提示*/
#tip_tel{position:relative;top:-12px;}		
		
		
		